<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" type = "text/css" href="css/main.css">
    	<link rel="stylesheet" href="mCus/jquery.mCustomScrollbar.css" />
   		<script src = "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    	<!-- Font Awesome JS -->
	    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
	    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="mCus/jquery.mCustomScrollbar.concat.min.js"></script>
	    <!-- Popper.JS -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	    <!-- Bootstrap JS -->
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	    <script type="text/javascript">
				    $(document).ready(function () {
				        $("#sidebar").mCustomScrollbar({
				            theme: "minimal"
				        });

				        $('#dismiss, .overlay').on('click', function () {
				            // hide sidebar
				            $('#sidebar').removeClass('active');
				            // hide overlay
				            $('.overlay').removeClass('active');
				        });

				        $('#sidebarCollapse').on('click', function () {
				            // open sidebar
				            $('#sidebar').addClass('active');
				            // fade in the overlay
				            $('.overlay').addClass('active');
				            $('.collapse.in').toggleClass('in');
				            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
				        });
				    });
		 </script>
	</head>
	<body>
		<script src = "js/register.js"></script>
		<script src = "js/login.js"></script>
		<div class = "container">
			<div class="row">
			    <div class="col-sm">
			      <!--This is the section for the navbar-->
			      <div class="wrapper">
					    <!-- Sidebar -->
					    <nav id="sidebar">
					        <div id="dismiss">
					            <i class="fas fa-arrow-left"></i>
					        </div>

					        <div class="sidebar-header">
					            <h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true", height = 10, width = 10><span style = "font-family: 'Poppins', sans-serif;">Navigation </span><i class = "blink" style = "font-weight:bold;">_</i></h3>
					        </div>

					        <ul class="list-unstyled components">
					            <li>
					                <a href = "/">Feed</a>
					                <%if (isLoggedIn) { %>
					                <a href="profile/<%= String(uS['username']) %>">Profile</a>
					                <% } %>
					                <a href="search">Search</a>
					            </li>
					            <li class = "active">
					                <a>Login/Register</a>
					            </li>
					        </ul>
					    </nav>

					    <!-- Page Content -->
					    <div id="content">
					        <nav class="navbar navbar-expand-lg navbar-light bg-light">
					            <div class="container-fluid">

					                <button type="button" id="sidebarCollapse" class="btn btn-info">
					                    <i class="fas fa-align-left"></i>
					                </button>
					                <h1 id = "titlePage"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true", height = 10, width = 10><span style = "font-family: 'Poppins', sans-serif;">Socialise</span><i class = "blink" style = "font-weight:bold;">_</i></h1>
					            </div>
					        </nav>
					    </div>
					    <!-- Dark Overlay element -->
					    <div class="overlay"></div>
					</div>
			    </div>
			    <ul class = "flex-container">
				    <li class = "flex-item" class = "well well-lg" id = "login-box">
				    	Login
				    	<form>
				    		<p class = "flex-form">If you are an existing user please login below:</p>
				    		<p class = "flex-form">Username:</p>
				    		<div class="input-group">
							  	<input type="text" class="form-control" placeholder="Username" id = "un" aria-describedby="basic-addon1">
							</div>
							<p class = "flex-form">Password:</p>
							<div class="input-group">
							  	<input type="password" class="form-control" placeholder="Password" id = "ps" aria-describedby="basic-addon1">
							</div>
							<button type="button" class="btn btn-default" id = "login-button" style = "position: relative; z-index: 0;">Login</button>
							<div id = "alertslogin" style = "font-size:20px"></div>
				    	</form>
				    </li>
				    <li class = "flex-item" class = "well well-lg" id = "register-box">
				    	Register
				    	<form>
				    		<p class = "flex-form">If you are a new user please register below:</p>
				    		<p class = "flex-form">Username:</p>
				    		<div class="input-group">
							  	<input type="text" class="form-control" placeholder="Username" id = "unr" aria-describedby="basic-addon1">
							</div>
							<p class = "flex-form">First Name:</p>
				    		<div class="input-group">
							  	<input type="text" class="form-control" placeholder="First Name" id = "fnr" aria-describedby="basic-addon1">
							</div>
							<p class = "flex-form">Surname:</p>
				    		<div class="input-group">
							  	<input type="text" class="form-control" placeholder="Surname" id = "snr" aria-describedby="basic-addon1">
							</div>
							<p class = "flex-form">Password:</p>
							<div class="input-group">
							  	<input type="password" class="form-control" placeholder="Password" id = "psr" aria-describedby="basic-addon1">
							</div>
							<p class = "flex-form">Confirm Password:</p>
							<div class="input-group">
							  	<input type="password" class="form-control" placeholder="Confirm Password" id = "cpsr" aria-describedby="basic-addon1">
							</div>
							<button type="button" class="btn btn-default" id = "register-button" style = "position: relative; z-index: 0;">Register</button>
							<div id = "alertsregister" style = "font-size:20px"></div>
				    	</form>
				    </li>
				</ul>

		    </div>
		</div>
	</body>
</html>
