<!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    	<link rel="stylesheet" type = "text/css" href="css/main.css">
    	<link rel="stylesheet" href="mCus/jquery.mCustomScrollbar.css" />
    	<!-- Font Awesome JS -->
	    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
	    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="mCus/jquery.mCustomScrollbar.concat.min.js"></script>
	    <!-- Popper.JS -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	    <!-- Bootstrap JS -->
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	    <script type="text/javascript">
				    $(document).ready(function () {
				        $("#sidebar").mCustomScrollbar({
				            theme: "minimal"
				        });

				        $('#dismiss, .overlay').on('click', function () {
				            // hide sidebar
				            $('#sidebar').removeClass('active');
				            // hide overlay
				            $('.overlay').removeClass('active');
				        });

				        $('#sidebarCollapse').on('click', function () {
				            // open sidebar
				            $('#sidebar').addClass('active');
				            // fade in the overlay
				            $('.overlay').addClass('active');
				            $('.collapse.in').toggleClass('in');
				            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
				        });
				    });
		 </script>
	</head>
	<body>
		<script src = "js/search.js"></script>
		<div class = "container">
			<div class="row">
			    <div class="col">
			      <!--This is the section for the navbar-->
			      <div class="wrapper">
					    <!-- Sidebar -->
					    <nav id="sidebar">
					        <div id="dismiss">
					            <i class="fas fa-arrow-left"></i>
					        </div>

					        <div class="sidebar-header">
					            <h3><span class="glyphicon glyphicon-console" aria-hidden="true", height = 10, width = 10></span> Navigation</h3>
					        </div>

					        <ul class="list-unstyled components">
					            <li>
					                <a href = "/">Feed</a>
					                <!--<ul class="collapse list-unstyled" id="homeSubmenu">
					                    <li>
					                        <a href="#">Home 1</a>
					                    </li>
					                    <li>
					                        <a href="#">Home 2</a>
					                    </li>
					                    <li>
					                        <a href="#">Home 3</a>
					                    </li>
					                </ul>-->
					                <%if (isLoggedIn) { %>
					                <a href="profile/<%= uS['username'] %>">Profile</a>
					                <% } %>
					                <%if (!isLoggedIn) { %>
					                <a href="#">Profile</a>
					                <% } %>
					            </li>
					            <li class = "active">
					                <a>Search</a>
					            </li>
					            <li>
					            	<%if (!isLoggedIn) { %>
					                <a href="login">Login/Register</a>
					                <% } %>
					                <%if (isLoggedIn) { %>
					                <a href="write">Write Post</a>
					                <a href = "logout">Logout</a>
					                <% } %>
					            </li>
					        </ul>
					    </nav>

					    <!-- Page Content -->
					    <div id="content">
					        <nav class="navbar navbar-expand-lg navbar-light bg-light">
					            <div class="container-fluid">

					                <button type="button" id="sidebarCollapse" class="btn btn-info">
					                    <i class="fas fa-align-left"></i>
					                </button>
					                <h1 id = "titlePage"><span class="glyphicon glyphicon-console" aria-hidden="true", height = 10, width = 10></span> Socialise</h1>
					            </div>
					        </nav>
					    </div>
					    <!-- Dark Overlay element -->
					    <div class="overlay"></div>
					</div>

			      </div>
			  </div>
			  <div class = "row" id = "search-all">
			      <div class = "col">
			      	<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input id = "username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
					  <span class="input-group-btn">
				        <button id = "search-button" class="btn btn-default" type="button">Go!</button>
				      </span>
					</div>
			      </div>
			      <div class = "col">
			      	<div id = "results-pane" class="well well-lg" style = "text-align:center;"></div>
			      </div>
		    </div>
		</div>
	</body>
</html>